# Created by venv; see https://docs.python.org/3/library/venv.html
# Исключаем виртуальное окружение
.venv/
venv/
env/

# Файлы конфигурации и секретные данные
.env
config.yaml
*.sqlite3
*.db

# PyCharm/VS Code файлы (если используешь эти IDE)
.idea/
.vscode/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Логи и временные файлы
*.log
logs/
debug.log

# Компилированные файлы Cython
*.so

# Разное
.DS_Store
Thumbs.db
